body,html {
    margin: 0;
    background-color: #FDC830;
    background-image: linear-gradient(to left, #FDC830, #F37335);
    font-family: "Lucida Sans", sans-serif;
    min-height: 100%;
    overflow-x: hidden;
}

.main_headline{
	border: 2px dashed red;
	padding: 2px;
	border-radius: 25px;
	font-size: 50px;
	width: 40%;
	margin: auto;
	margin-top: 20px;
}

.error {
	color: #ff3737;
}

#rgba-bg{
	background-color: rgba(40, 42, 54, 1);
}

.color-red{
	color: red;
}

.custom-button{
	color: white;
	background-color: rgba(40, 42, 54, 1);
	border: 2px solid white;
	border-radius: 25px;
	font-size: 50px;
	padding: 10px;
	position: absolute;
	top: 80%;
	right: 41%;
}

.custom-button:hover{
	color: red;
	background-color: transparent;
	border: 2px solid red;
	cursor: pointer;
}

.info {
	background-color: #53ff53;
	color: #005315;
	border: 2px solid #005315;
	font-weight: bold;
	font-size: 18px;
    padding: 5px;
    border-radius: 25px;
    width: 100%;
	display: block;
	margin-left: -18%;
}

.font-300{
	font-weight: 300;
}

.info-headline{
	font-size: 25px;
	margin-left: -35%;
}

.info-style{
	margin-top: 2%;
	position: absolute; 
	margin-left: 40%;
}

.font-size-40{
	font-size: 40px;
}

#float-right{
	float: right;
}

.uppercase{
	text-transform: uppercase;
}

.margin-top-30{
	margin-top: 30px;
}

img{
	position: absolute;
	width: 30%;
	height: 30%;
	top: -5%;
}

.right-img{
	margin-left: 70%;
}